<% show_post ||= false %>

<div class='row'>
  <div class='well'>
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
    on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <br/>
    <span class='quiet'>says</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
    <small><%= tell_time_posted(comment.created_at) %></small>
  </div>
</div>
